body {
    font-family:"Roboto"
}

.container {
    margin: 0 auto;
    width: 1280px;
    padding: 20px 90px;

    /*
    box-sizing: border-box;
    */
}

.header{
    font-size: 80px;
    color: black;
    text-align: left;
    margin-bottom: 38px ;
}

.header_logo {
    color: #4BCAFF;
}

.header-link {
    color: black;
}

.nav_list {
    display: flex;
    font-size: 24px;
    color: white;
    background-color:#35444F ;
    justify-content: center;
}

.nav_list_menu{
    padding: 26px 40px 19px;
    border-left: 1px solid  white;
}

.nav_list_menu:hover {
    background-color:#222F3A
}
.nav_list_link {
    text-decoration: none;
    color: white;
}

.nav_list_menu:last-child {
    border-right: 1px solid white;
}

.aside{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border: 1px solid black;
    width: 342px;
    height: 399px;
    font-size: 27px;
}

.aside_menu {
    color: #495863;
    height: 100%
    
}

.aside_menu:hover {
    padding-left: 50px;
    background-color: #DBDBDB;
    transition: 0.5s;
}

.aside_menu_link:hover {
    color: black;
}

.aside_menu_link{
    color: #485863;
    padding: 26px 0 26px 30px;
    display: flex;
}

.content {
    margin-left: 52px;

}
.content_image {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    padding: 75px 250px;

}
.content_image_hover:hover {
    transform: scale(1.2);
    transition: 1.5s;
}

.content_text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
}

.main{
    display: flex;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 55px;
    padding: 25px 0;
    background: rgba(99, 105, 110, 0.48);
}

.footer_list {
    display: flex;
    font-size: 28px;

}
.footer_menu {
    padding-left: 40px;

}
.footer_menu_link{
    color:#0C1927 ;
}
.footer_menu_link:hover {
    color:#3181A6 ;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6 ;
}

.footer_copyright {
    padding-right: 50px;
    font-size: 24px;
}